{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} users {% endblock %}</h1>
    <div class="content">
        {% for user in users %}
            <div class="user">
                <p><b>#{{ user.id }}</b></p>
                <b>
                    <p class="name">{{ user.username }} </p>
                </b>                
                <p>Joined: {{ user.created_at }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ user.username }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {{table}}
    </div>
{% endblock %}